<div class="card-container menu-bar">

    <div class="card card-small " tabindex="0 ">
        <mat-icon>folder_open</mat-icon>
        <span>My Documents</span>
    </div>

    <div class="card card-small " tabindex="0 ">
        <mat-icon>folder_shared</mat-icon>
        <span>Shared With Me</span>
    </div>

    <div class="card card-small " tabindex="0 ">
        <mat-icon>library_add_check</mat-icon>
        <span>Doc Checker</span>
    </div>

    <div class="card card-small " tabindex="0 ">
        <mat-icon>search</mat-icon>
        <span>Search</span>
    </div>

    <div class="card card-small " tabindex="0 ">
        <mat-icon>publish</mat-icon>
        <span>Publish</span>
    </div>

</div>