<div class="card-container menu-bar">

    <div class="card card-small " tabindex="0 " routerLink="/mydocuments" routerLinkActive="active">
        <mat-icon>folder_open</mat-icon>
        <span>My Documents</span>
    </div>

    <div class="card card-small " tabindex="0 " routerLink="/check" routerLinkActive="active">
        <mat-icon>library_add_check</mat-icon>
        <span>Doc Checker</span>
    </div>

    <div class="card card-small " tabindex="0 " routerLink="/search" routerLinkActive="active">
        <mat-icon>search</mat-icon>
        <span>Search</span>
    </div>

    <!-- <div class="card card-small " tabindex="0 " [routerLink]="[{ outlets: { publish: ['publish'] } }]"> -->
    <!-- <div class="card card-small " tabindex="0 " (click)="clickOnPublish()"> -->
    <div class="card card-small " tabindex="0 " routerLink="/publish">
        <mat-icon>publish</mat-icon>
        <span>Publish</span>
    </div>

</div>

<router-outlet name='publish'></router-outlet>