<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center start" class="ethereum-connect">
    <div fxFlex fxLayout="column" fxLayoutWrap fxLayoutAlign="start center" class="inner-content">
        <div>
            <img src="../../../assets/ethereum.png" height="100px;">
        </div>
        <div fxFlex *ngIf=" address == undefined " [formGroup]="formDoc">
            <h3>Connect using MetaMask extension.</h3>
            <img src="../../../assets//MetaMask.png" height="36px;" href="metamask.io" target="_blank">
        </div>
        <div fxFlex *ngIf=" address != undefined ">
            <mat-form-field appearance="fill" style="width:500px;">
                <mat-label>Your Address</mat-label>
                <input matInput readonly value="{{address}}">
            </mat-form-field>
        </div>
        <div fxFlex fxLayout="row">
            <!-- <div fxFlex *ngIf=" provider != undefined ">
                <mat-form-field appearance="fill" style="width:200px;">
                    <mat-label>Network</mat-label>
                    <input matInput readonly value="">
                </mat-form-field>
            </div> -->
            <div fxFlex *ngIf=" address != undefined ">
                <mat-form-field appearance="fill" style="width:200px;">
                    <mat-label>Your Balance</mat-label>
                    <input matInput readonly value="{{balance}}">
                </mat-form-field>
            </div>
        </div>
        <div fxFlex *ngIf=" address != undefined " class="button" (click)="logout()">
            <mat-icon>clear</mat-icon>
            <span>Reconnect</span>
        </div>
    </div>

</div>
