.button {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 16px;
    width: 200px;
    margin: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
}

.button:hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.close {
    position: relative;
    left: 97%;
}

.close:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
    fill: rgb(105, 103, 103);
}

.mat-dialog-content {
    text-align: -webkit-center;
}

.mat-dialog-title {
    text-align: center;
}

.mat-form-field {
    width: -webkit-fill-available;
}
