<form [formGroup]="form">
    <button class="close" type="cancel" mat-button mat-button-close (click)="close()">X</button>
    <h1 mat-dialog-title>Upload Document</h1>

    <mat-dialog-content>
        <div fxLayout="row"></div>
        <div>
            <app-material-file-select #fileSelector [autoOpen]="true" (cancel)="close()" (fileSelected)="onFileSelected($event)"></app-material-file-select>
            <mat-form-field *ngIf="docInstance" class="hash">
                <input fxFlex matInput readonly required placeholder="Document Fingerprint (hash)" value="{{docInstance.hash}}">
            </mat-form-field>
        </div>
        <div fxLayout="column">
            <div fxFlex>
                <mat-form-field>
                    <input fxFlex matInput required placeholder="Document Title" formControlName="title">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field>
                    <input fxFlex matInput placeholder="Author" formControlName="author" readonly>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field>
                    <input fxFlex matInput placeholder="Version" formControlName="version" readonly>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field>
                    <textarea fxFlex matInput placeholder="Document Description" formControlName="description" rows="5"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="button" mat-raised-button color="accent" [mat-dialog-close]="true" type="submit" (click)="submit(form)">Submit</div>
        <div class="button" mat-raised-button color="accent" mat-dialog-close type="cancel" (click)="close()">Cancel</div>
    </div>
</form>