.document-item {
    margin: 4px;
    cursor: cell;
}

.title {
    font-weight: bolder;
}

.selected {
    background-color: gray;
}

.doc-list {
    width: auto;
    // min-height: 90vh;
    // overflow: auto;
    height: fit-content;
    // position: absolute;
    // right: 0px;
    // top: 50px;
    // bottom: 0px;
    overflow-x: hidden;
}

mat-list-item div {
    margin-right: 16px;
    line-height: 32px !important;
}

.button {
    cursor: pointer;
}