<div class="document-details" fxLayout="column" *ngIf=" document !== undefined">
    <div fxFlex class="section">
    </div>
    <div fxFlex class="section">
        <mat-label class="label">Title:</mat-label>
        <div fxFlex class="property">
            <div class="title">{{document.title}}</div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="[{ outlets: { download: ['download', {docId:document.docId, title:document.title, txId:document.getDataForLatestVersion().txId, version:document.latestVersion}] } }]">
            <mat-icon>cloud_download</mat-icon>
            <span>Download latest version</span>
          </button>
            <button mat-menu-item disabled>
            <mat-icon>enhance_encryption</mat-icon>
            <span>Access Control</span>
          </button>
            <button mat-menu-item [routerLink]="[{  outlets: { publish: ['publish', {docId: document.docId}] }}] ">
            <mat-icon>library_add</mat-icon>
            <span>Publish new version</span>
          </button>
            <button mat-menu-item (click)="docService.subscribe(document.docId)">
            <mat-icon>add_shopping_cart</mat-icon>
            <span>Subscribe</span>
          </button>
        </mat-menu>
    </div>
    <div fxFlex class="section">
        <mat-label class="label">Document Id:</mat-label>
        <div fxFlex class="property">
            <div class="docId">{{document.docId}}</div>
        </div>
    </div>
    <div fxFlex class="section">
        <mat-label class="label">Latest Version:</mat-label>
        <div fxFlex class="property">
            <div class="version">version:{{document.latestVersion}}</div>
        </div>
    </div>
    <div fxFlex class="section">
        <mat-label class="label"></mat-label>
        <div fxFlex class="property">
            <div class="status">
                <mat-icon *ngIf="document.getDataForLatestVersion().uploadingStatus == 'Pending'" matTooltip='Waiting for uploading transaction to complete'>hourglass_empty</mat-icon>
                <mat-icon *ngIf="document.getDataForLatestVersion().uploadingStatus == 'Failed'" matTooltip='Uploading transaction failed'>error_outline</mat-icon>
            </div>
        </div>
    </div>
    <div fxFlex class="section">
        <mat-label class="label">Access Type:</mat-label>
        <div fxFlex class="property">
            <div class="access">
                <mat-icon *ngIf="document.accessKey" matTooltip='Public access'>lock_open</mat-icon>
                <mat-icon *ngIf="!document.accessKey" matTooltip='Public access'>lock</mat-icon>
            </div>
        </div>
    </div>
    <div fxFlex class="section">
        <mat-label class="label">Author:</mat-label>
        <div fxFlex class="property">
            <mat-icon>account_box</mat-icon>
            <div class="author">{{document.getDataForLatestVersion().author}}</div>
            <div class="author">@ETH:{{document.authorEthAccount}}</div>
        </div>
    </div>
    <div fxFlex class="section">
        <mat-label class="label">Subscription Fee:</mat-label>
        <div fxFlex class="property">
            <div class="price">{{document.subscriptionFee}} ETH</div>
            <input matInput type="number" readonly placeholder="Subscription Fee" value="document.subscriptionFee">
            <span matSuffix>ETH</span>
        </div>
    </div>
    <div fxFlex class="section">
        <mat-label class="label">Description:</mat-label>
        <div fxFlex class="property">
            <div class="description">{{document.getDataForLatestVersion().description}}</div>
        </div>
    </div>
    <div fxFlex class="section versions" fxLayout="column">
        <div fxLayout="row">
            <h4>Versions:</h4>
            <div class="add-version" [routerLink]="[{  outlets: { publish: ['publish', {docId: document.docId}] }}] ">
                <mat-icon matTooltip='Publish a new version'>library_add</mat-icon>
            </div>
        </div>
        <div fxFlex>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let version of document.versions | reverse">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="version">version:{{version}}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="column">
                        <div fxFlex class="section">
                            <mat-label class="label">Author:</mat-label>
                            <div fxFlex class="property">
                                <mat-icon>account_box</mat-icon>
                                <div class="author">{{document.getDataForVersion(version).author}}</div>
                            </div>
                        </div>
                        <div fxFlex class="section">
                            <mat-label class="label">Last Modified:</mat-label>
                            <div fxFlex class="property">
                                <div class="last-modified">{{document.getDataForVersion(version).lastModified | date:'medium'}}</div>
                            </div>
                        </div>
                        <div fxFlex class="section">
                            <mat-label class="label">Published On:</mat-label>
                            <div fxFlex class="property">
                                <div class="date-publication">{{document.getDataForVersion(version).datePublication | date:'medium'}}</div>
                            </div>
                        </div>
                        <div fxFlex class="section">
                            <mat-label class="label">Description:</mat-label>
                            <div fxFlex class="property">
                                <div class="description">{{document.getDataForVersion(version).description}}</div>
                            </div>
                        </div>
                        <div class="button" [routerLink]="[{ outlets: { download: ['download', {docId:document.docId, title:document.title, txId:document.getDataForVersion(version).txId, version:version}] } }]">
                            <mat-icon>cloud_download</mat-icon>Download</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
