.section {
    margin-bottom: 16px;
    width: 32em;
}

.title {
    font-weight: bolder;
}

.description {
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    min-height: 1em;
    ;
}

.label {
    width: 25%;
}

.property {
    // width: fit-content;
    overflow: auto;
}
