<h1>Get Started !</h1>
<h2>
    <ol>
        <li>Connect to <a href="https://www.arweave.org/" target="_blank">Arweave</a></li>
        <li>Choose the blockchain you want to use (<a href="https://ethereum.org" target="_blank">Ethereum</a> or <a href="https://nearprotocol.com" target="_blank">NEAR</a>)</li>
        <li>Connect to the chosen blockchain</li>
    </ol>
</h2>
<!-- <mat-vertical-stepper>
    <mat-step label="{{arweaveStepLabel}}">
        <div fxLayout="column">
            <div fxFlex>
                <app-arweave-connect></app-arweave-connect>
            </div>
            <div fxFlex>
                <button mat-button class="button" matStepperNext>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    <span>Next</span>
                </button>
            </div>
        </div>
    </mat-step>
    <mat-step label="{{ethereumStepLabel}}">
        <div fxLayout="column">
            <div fxFlex>
                <app-ethereum-connect></app-ethereum-connect>
            </div>
            <div>
                <button mat-button class="button" matStepperPrevious>
                <mat-icon>keyboard_arrow_up</mat-icon>
                <span>Back</span>
            </button>
            </div>
        </div>
    </mat-step>
</mat-vertical-stepper> -->
<app-profile-details></app-profile-details>

<button mat-raised-button class="button" [disabled]="!isAuthenticated">Let's Go!</button>