<div class="title">
    <h1>Welcome to
        <div class="decentradocs">
            <img width="50" alt="DCD" src="../assets/DecentraDocs.png" />
            <span>DecentraDocs</span>
        </div>
    </h1>
</div>
<div class="home">
    <h2>
        What is <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span>?
    </h2>
    <p><img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> is a decentralized, application (dAPP) providing a “cloud” opened platform that enables people and organizations to store, share, market
        and manage all kind of documents in the “PermaWeb”.</p>
    <p>In some ways, <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> could be seen as a World-Wide Library.</p>
    <img src="../assets/library-1.jpg" height="250px">

    <h2>
        What is the <b>"Permaweb"</b>?
    </h2>
    <img src="../assets/Arweave-Permaweb-1.png" height="250px;">
    <p>Build on top of the <a href="https://www.arweave.org/#arweave-intro" target="_blank">Arweave network</a>, the <b>permaweb</b> is “a global, community-owned web that anyone can contribute to or get paid to maintain.</p>
    <p> The <b>permaweb</b> looks just like the normal web, but all of its content – from images to full web apps – is permanent, retrieved quickly, and decentralized – forever. Just as the first web connected people over vast distances, the <b>permaweb</b>        connects people over extremely long periods of time.”</p>
    <p> It means the document stored with <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> will stay available forever, for every user allowed to access it, without running cost (storage costs are
        paid upfront, for 100+ years!), without risk of loss, tampering or censorship.
    </p>
    <h2>
        What does <b><em>decentralized</em></b> mean?
    </h2>
    <p>While a traditional storage server may fail, can tamper stored information (intentionally or not) or can deny access, the decentralized storage solutions run without any central authority or single point of failure offering, by design: <b>resilience</b>,
        <b>immutability</b>, <b>censorship resistance</b> and <b>openness</b>.</p>
    <p>However, the consensus protocol on the decentralized networks provides a trustless mechanism to certify <b>authenticity</b> of the stored information.</p>
    <img src="../assets/decentralized-1.png" height="150px">
    <!-- <h2>
        What does <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> feature right now?
    </h2> -->
    <h2>
        Yet another <i>cloud storage service</i>? So what?
    </h2>
    <p><img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> is built on top of:</p>
    <ul>
        <li>the
            <a href="https://www.arweave.org/#arweave-intro" target="_blank"><img height="18" alt="" src="../assets/arweave-logo-1-crop.png" />Arweave network</a> providing the storage platform for managed documents (permaweb)</li>
        <li>a couple of smart contracts (available on both
            <a href="https://ethereum.org" target="_blank"><img height="18" alt="" src="../assets/eth-logo-1.png" />Ethereum</a> or
            <a href="https://nearprotocol.com" target="_blank"><img height="18" alt="" src="../assets/near_logo_crop.png" />NEAR Protocol</a> blockchains): providing the document access control and subscription features</li>
    </ul>
    <img src="../assets/document-information.png" height="250px">
    <p>Hence, it’s not only a world-wide shared hard drive and is quite different from the usual “cloud storage service”, in 2 main aspects:</p>
    <ol>
        <li>First, because the decentralized architecture guarantees the provided services and specifications don’t rely on any third-party or central authority</li>

        <li>Secondly, because this architecture also provides exclusive document management services like:

            <ul>
                <li>
                    <h3>Version Control</h3>
                    <img src="../assets/version-control-1.jpg" height="250px">
                    <p>Each time you make a change in a document, then you update your publication in <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span>, a <b>new version</b> of your document will
                        be created</p>
                    <p>Every version of your document remains accessible forever, hence you have a complete tracability of your document history</p>
                    <img src="../assets/history-revision-1.png" height="250px">
                </li>
                <li>
                    <h3>Search Engine and Proof of Authenticty (PoA)</h3>
                    The <b>Search Engine</b> allow to search per:
                    <ul>
                        <li>author</li>
                        <li>keyword in title</li>
                        <li>keyword in description</li>
                    </ul>
                    <img src="../assets/Terminology-document-1600x1024.jpg" height="150px">
                    <p>The <b>Doc Checker</b> allows to search in the Library if a given document already exists.</p>
                    <p>This feature is very useful when your document has been copied to be shared with others: Given a copy, the doc checker retrieve which publication and which version it corresponds to. </p>
                    <img src="../assets/business-paperwork-1.jpg" height="250px">
                    <p>The Doc Checker can also be used to <b>certify the authenticity</b> of any document.</p>
                    <img src="../assets/authentic-1.jpg" height="150px">
                </li>
                <li>
                    <h3>Access Control</h3>
                    <img src="../assets/32134175-access-granted-denied-stamp.jpg" height="150px">
                    <p>When a document is published, the following option are available:</p>
                    <ul>
                        <li>
                            <h4>Public</h4>
                            <p>The document can be downloaded by any user</p>
                        </li>
                        <li>
                            <h4>Restricted</h4>
                            The document can be downloaded only by permissionned users
                        </li>
                    </ul>
                    <p>After a restricted document is published, the author can still update the authorizations to allow/deny some users.</p>
                    <p>When permission is granted to a user for a given document, it applies to all versions (past and future).</p>
                </li>
                <li>
                    <h3>Subscription/Monetization Services</h3>
                    <img src="../assets/monetize-1.jpg" height="250px">
                    <p>A restricted document can also be monetized: the author set the price for users to pay if they want to download the publication.</p>
                    <p>When a user has subscribed to a given document, it applies to all versions (past and future).</p>
                </li>
            </ul>
        </li>
    </ol>
    <h2>
        Why should I need to use <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span>?
    </h2>
    <p>Whatever if you’re an individual or an organization, <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> is very useful as soon as you’re interested in:</p>
    <ul>
        <li>Storing (and share) documents forever,</li>
        <li>Keeping track of each version,</li>
        <li>Setting up a subscription process for customers to access your publications,</li>
        <li>Monetizing your publications,</li>
        <li>Authentify/certifying any copy of a document.</li>
    </ul>
    <img src="../assets/Information-Search.jpg" height="250px">
    <p>Here is a non-exhaustive list of what you can (should) manage in <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span>:</p>
    <ul>
        <li>Office templates</li>
        <li>Images</li>
        <li>Music sheets</li>
        <li>Artworks</li>
        <li>Food recipes</li>
        <li>Product datasheets</li>
        <li>E-books</li>
        <li>Regulations</li>
        <li>Accounting reports</li>
        <li>KPI reports</li>
        <li>&hellip;</li>
    </ul>
    <h2>
        How much does it cost?
    </h2>
    <img src="../assets/6a0120a85dcdae970b01a3fcc55683970b-800wi.png" height="250px;">
    <p>Blockchain networks need contributions from users in order to work and last in the long term. That’s why there are a few fees when performing transactions.</p>
    <p>Here are the fees associated with common actions in <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span>:</p>
    <table border="1" cellpadding="10">
        <tr>
            <th>User Role</th>
            <th>Action</th>
            <th>Fees</th>
        </tr>
        <tr>
            <td>Document Publisher</td>
            <td>Publish a Document (1st version)</td>
            <td>Arweave gas + Eth/Near gas</td>
        </tr>
        <tr>
            <td>Document Publisher</td>
            <td>Publish a new version of a Document</td>
            <td>Arweave gas</td>
        </tr>
        <tr>
            <td>Document Publisher</td>
            <td>Change Access Control rules</td>
            <td>Eth/Near gas</td>
        </tr>
        <tr>
            <td>Reader</td>
            <td>Browse over documents in Global Library</td>
            <td>no fee</td>
        </tr>
        <tr>
            <td>Reader</td>
            <td>Download a given version of a document (assuming the user is authorized or the document is public)</td>
            <td>no fee</td>
        </tr>
        <tr>
            <td>Reader</td>
            <td>Subscribe to a Document</td>
            <td>Eth/Near gas</td>
        </tr>
    </table>
    <p></p>
    <h2>
        What would <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> feature later?
    </h2>
    <p>DecentraDocs is only on its early stage. Here is a list of features that could be added next:</p>
    <ul>
        <li>Dedicated fungible token to manage subscription fees</li>
        <li>Dedicated non-fungible token to manage access control</li>
        <li>Categories of documents to classify in library (for instance: ‘regulations’, ‘food recipes’, ‘templates’, …)</li>
        <li>Folders (gathering a list of documents), allowing a reader to subscribe to the folder itself</li>
        <li>Multi-authoring (or delegation)</li>
        <li>Rating/reviews of publications from subscribers</li>
        <li>Notification system (for instance, when a new version is available)</li>
        <li>Document Signing/Approval process</li>
        <li>Diff viewer (between 2 versions)</li>
        <li>Advanced Document Workflows</li>
        <li>&hellip;</li>
    </ul>
    <h2>
        Try <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> now!
    </h2>



</div>
