.decentradocs {
    display: inline-flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title .decentradocs {
    position: absolute;
    top: 20px;
    font-weight: 600;
    font-size: xx-large;
}

h2 img {
    padding-right: 6px;
    padding-left: 6px;
}

.decentradocs img {
    padding-right: 12px;
    padding-left: 12px;
}

.decentradocs span {
    padding-top: 4px;
    ;
}

.title {
    align-items: center;
    display: block;
    padding-top: 24px;
}