<div class="title">
    <h1>Welcome to
        <div class="decentradocs">
            <img width="50" alt="DCD" src="../assets/DecentraDocs.png" />
            <span>DecentraDocs</span>
        </div>
    </h1>
</div>
<div>
    <h2>
        What is <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span>?
    </h2>
    <h2>
        What does <b><em>decentralized</em></b> mean?
    </h2>
    <!-- <h2>
        What does <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> feature right now?
    </h2> -->
    <h2>
        Yet another <i>cloud storage service</i>? So what?
    </h2>
    <h2>
        How much does it cost?
    </h2>
    <h2>
        What would <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> feature later?
    </h2>
    <h2>
        Try <img height="18" alt="DCD" src="../assets/DecentraDocs.png" /> <span class="decentradocs">DecentraDocs</span> now!
    </h2>



</div>